In [4]:
num  = 996
if num %2 ==0:
    print("even")
else:
    print("odd")

even

In [5]:
num  = 996
print("even") if num %2 ==0 else print("odd")

even

In [6]:
age = 98
print("old") if age>60 else print("young")

old

In [12]:
num = float(input("Enter a number: "))
result = "Positive" if num > 0 else("Negative" if num<0 else"Zero")
result

Enter a number:  -334.223

'Negative'

In [16]:
l = [2,3,4,99,3,26]
[1.5*x for x in l]

[3.0, 4.5, 6.0, 148.5, 4.5, 39.0]

In [19]:
l = [2,3,4,99,3,2,66,26]
[x for x in l if x%2 ==0]

[2, 4, 2, 66, 26]

In [24]:
l = [2,3,4,99,3,2,66,26]
[x for x in l if x%2 !=0]

[3, 99, 3]

In [32]:
salaries = [40000,80000,60000,45000]
[(salary * 1.2 if salary <= 50000 else salary)for salary in salaries]

[48000.0, 80000, 60000, 54000.0]

In [37]:
d1 = {'Ram':[72,71,98,100], 'John':[56,98,67,65]}
d1

{'Ram': [72, 71, 98, 100], 'John': [56, 98, 67, 65]}

In [2]:
d1 = {'Ram':[72,71,98,100], 'John':[56,98,67,65]}

{k: sum(v)/len(v)for k,v in d1.items()}

{'Ram': 85.25, 'John': 71.5}

In [4]:
def mean_value(given_list):
    tot = sum(given_list)
    avg = tot/len(given_list)
    return avg
L = [1,2,3,4,5,6,7,8,9,10]
mean_value(L)

5.5

In [15]:
def greet(osman = "osman"):
    print(f"Good Morning, {osman}!")
greet()

Good Morning, osman!

In [21]:
def avg_value(*n):
    l = len (n)
    avg = sum(n)/l
    return avg

In [22]:
avg_value(2,43,4,5,322,4,5,567,5,3,346,56,3,6,5,3,3,456,32,5,87,54,86,7)

87.875